<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner position-relative mt-4">
        <div class="carousel-item active item">
            <p>"Los infinitos héroes desconocidos valen tanto como los héroes más grandes de la historia"</p>
            <h2>Walt Whitman</h2>
            <br></div>
        <div class="carousel-item item">
            <p>"Una máquina puede hacer el trabajo de cincuenta hombres ordinarios. Ninguna máquina puede hacer el trabajo de un hombre extraordinario."</p>
            <h2>Elbert Hubbard</h2>
            <br></div>
        <div class="carousel-item item">
            <p>"El arte se opone a la tecnología y la tecnología inspira el arte."</p>
            <h2>John Lasseter</h2>
            <br> </div>
        <div class="carousel-item item">
            <p>"Cualquier tecnología suficientemente avanzada es equivalente a la magia."</p>
            <h2>Arthur C. Clarke</h2>
            <br></div>
        <div class="carousel-item item">
            <p>"Si tu negocio no está en Internet, tu negocio no existe."</p>
            <h2>Bill Gates</h2>
            <br>
        </div>

    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
</div>