<div class="row mt-4">
    <div class="col">
        <img src="./assets/fperfil.jpg" class=" rounded-circle" alt="Profile picture" /> ./assets/gorje.png
    </div>
    <div class="col">
        <div class="mt-5 ml-5">

            <div class="badge bg-dark text-wrap" style="width: 15rem; height: 3rem;">
                <h1 class="fw-bold">
                    QUIEN SOY?
                </h1>

            </div>
            <hr>
            <p>
                Mi nombre es Fernando Casique y soy un desarrollador web, apasionado por resolver problemas a través de la tecnología.

            </p>
            <p>
                Soy Ingeniero de sistemas, con amplia experiencia en el desarrollo web.
            </p>
        </div>
        <div class="mt-5 ml-5 espacio">

            <div class="badge bg-dark text-wrap" style="width: 15rem; height: 5rem;">
                <h1 class="fw-bold">
                    TAREAS HABITUALES
                </h1>

            </div>
            <hr>
            <ul>
                <li>Lectura y análisis de informes de investigación y sugerencias de los usuarios.</li>
                <li>Diseño</li>
                <li>Creación de programas y aplicaciones. </li>
                <li>Transcribir a lenguaje de programación.</li>
                <li>Definir las especificaciones técnicas del nuevo producto, incluido su código. </li>
                <li>Testear y monitorizar el funcionamiento de los distintos programas y aplicaciones.</li>
                <li>Actualizar dichas aplicaciones y programas.</li>
            </ul>

        </div>
    </div>
</div>