<!-- <div class="row">
    <div class="col foot">
        <app-carousel></app-carousel>
    </div>
    <div class="col ">
        <img class="image" src="./../assets/feerka.png" alt="">
    </div>


</div>

 -->

<div class="footer ">
    <a href="https://www.linkedin.com/in/fercadev01/"><img class="imag" src="./assets/linkedi.png" alt=""> </a>
    <a href="https://twitter.com/fercadev"><img class="imag" src="./assets/gorje.png" alt=""> </a>
    <a href="https://github.com/fercadev1"><img class="imag" src="./assets/signo-de-github.png" alt=""> </a>
    <h4>© 2021 FEERKA BY FERNANDO CASIQUE V1. BUILDING SOFTWARE WITH ♥ TO THE WORLD.</h4>
</div>